/*
Extra small<576px
Small >=576px <768px
Medium >=768px <992px
Large >=992px <1200px
Extra large >=1200px

Max container width		0px 		576px		768px		992px		1200px
Class prefix			 .col-		.col-sm-	.col-md-	.col-lg-	.col-xl-
*/
/* Extra small devices (portrait phones, less than 576px) and all if not redefine*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
header {
  height: 35vh;
  width: 100vw;
  background-image: url("../img/multisport.jpg");
  background-position: center;
  background-size: 200vh;
  background-repeat: no-repeat;
}
nav {
  width: 100vw;
}

.main-menu {
  width: 60vw;
  height: 60vh;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  header {
    height: 10vh;
    background-size: 100vw;
    background-repeat: no-repeat;
  }

  .main-menu {
    width: 100vw;
    height: 60vh;
  }
  .mr-auto {
    height: 35vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 900px) {
}
/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
}
